.table {
    width: 20%;
    margin: auto;
}

.btn-primary {
    background-color: #337ab7;
}

.btn-default {
    background-color: #dddddd;
    float: right;
}

.btn-default:hover {
    background-color: lightgray;
}